<div class="landing">
    <h1> Tips of the Day </h1>

    <ul style="list-style-type : none">
        {{#each tips}}
        <li class="item">
            <a href="/tips/{{this.id}}">{{this.tip}}</a>
        </li>
        {{/each}}
    </ul>

    <form action="/tips/new" method="GET">
        <input type="submit" value="Add New Tip">
    </form>
</div>