<div class="landing">
    <h1>New Tip</h1>

    <form action="/api/tips" method="POST">
        <p>
            <label for="tip">Tip:</label>
            <input required type="text" tip="location" width="500px">
        </p>
</div>
</br>
<input type="submit" value="Add Tip">
</form>
<br>
<br>
<a class="home" href="/tips">⟵ Index</a>
</div>